body {
    padding-top: 30px;
    padding-bottom: 20px;
}

.navbar-brand {
    font-size: 1.8em;
    font-weight: bold;
}

.navbar {
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.container .jumbotron{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.container-fluid {
    padding-top: 8px;
    padding-bottom: 8px;
}

.jumbotron {
    background-color: #fafafa;
}

#footer-separator {
    width: 80%;
    margin: 0 auto;
}

.phone a {
    color: #333;
    font-weight: bold;
    text-decoration: underline;
}

.phone a:hover{
    font-weight: normal;
    text-decoration: none;
}

.phone a:visited{
    text-decoration: none;
    color: #333;
}

#nav-img {
    height: 100%;
    display: inline-block;
    margin-right: 6px;
    margin-top: -5px;
}

.video {
    margin-top: 40px;
}

#call-to-action {
    font-size: 1.45em;
}

.product {
    margin-bottom:20px;
    margin-top:20px;
}

.spaced-below {
    margin-bottom:25px;
}

.text-center.rental-text {
    margin-bottom:70px;
    margin-top:30px;
}

span.rent-text {
    font-size:24px;
}

.row.rental-items {
    margin-bottom:30px;
}

.text-center.sub-text {
    font-size:12px;
}

.panel-heading a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.panel-heading a:hover{
    font-weight: normal;
    text-decoration: none;
    font-size: 22px;
}

.panel-heading a:visited{
    text-decoration: none;
    color: #333;
}

.instrument-accordion {
    margin:0px;
}

.type-accordion {
    margin-bottom:25px;
}

@media (max-width: 768px) {
      #center-sm-right {
        text-align: center !important; 
       } 
      #center-sm-left {
        text-align: center !important; 
       }
    }

@media (min-width: 768px) {
      #center-sm-right {
        float: right !important; 
       } 
       #center-sm-left {
        float: left !important;  
       } 
    }

.form-horizontal .control-label {
    margin-bottom: 5px;
}

div.alert.alert-danger.contact-alerts {
    padding: 5px;
    margin-bottom: 5px;
    margin-top:5px;
}

.field-validation-error {
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
}

.founder-img {
    padding: 30px;
}

.our-history-text {
    padding-top: 10px;
}

#model-footer-buttons {
    margin-bottom: 10px;
}

.modal-footer a:hover{
    text-decoration: none;
}

.modal-footer a:visited{
    text-decoration: none;
}

@media only screen and (max-width: 374px) {

   .navbar-brand { font-size: 1.3em; }
   #button-group-text { font-size: 11px; }
   #email { font-size: 11px; }
   #customer-panel-title{ font-size: 13px; }
}

@media only screen and (max-width: 991px) {

   .space-above { margin-top: 10px; }

}

.fa {
    color:#31b0d5;
}

.dashboard-link a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.dashboard-link a:hover{
    font-weight: normal;
    text-decoration: none;
    font-size: 16px;
}

.dashboard-link a:visited{
    text-decoration: none;
    color: #333;
}

.no-padding {
    padding:0;
}

.customer-title {
    margin-bottom: 25px;
}

.breadcrumb {
    /*margin-left: -20px;
    margin-top: -20px;*/
    background-color: transparent;
}

.breadcrumb>li+li:before {
    content: "\007C\00a0";
}

.breadcrumb li a {
    color: #333;
    font-weight: normal;
    text-decoration: none;
}

.breadcrumb li a:hover {
    font-weight: bold;
    text-decoration: none;
    /*font-size: 16px;*/
}

.breadcrumb li a:visited {
    color: #333;
    font-weight: normal;
    text-decoration: none;
}

/* Change primary color */

.btn-primary {
  color: #fff;
  background-color: #4E842B;
  border-color: #81A867;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #81A867;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #81A867;
  border-color: #81A867;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #81A867;
  border-color: #81A867;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #81A867;
  border-color: #122b40;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #4E842B;
  border-color: #81A867;
}
.btn-primary .badge {
  color: #4E842B;
  background-color: #fff;
}

/* Dropdown menu adjustments */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu .open  > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -13px;
}

.dropdown-submenu .open  > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

@media (max-width: 767px) {
    #logged-in-as { text-align:center; }
}

@media (min-width: 767px) {
    #logged-in-as { text-align:right; }
}