@{
    ViewData["Title"] = "Assay Catalog";
}

<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>

    <a asp-controller="employee" asp-action="updateassaycataloginfo">Update Assay</a> <br>
</div>
