@{
    ViewData["Title"] = "Orders";
}

<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
    <a asp-controller="employee" asp-action="testschedule">View Test Schedule</a> <br>
    <a asp-controller="employee" asp-action="compoundreceipt">Compound Receipt Form</a> <br>
    <a asp-controller="employee" asp-action="uploadtestresults">Upload Test Results</a>
</div>
