@{
    ViewData["Title"] = "Order #197 - Listeraninanine";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li><a asp-area="" asp-controller="home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="manager" asp-action="index">Manager Dashboard</a></li>
                <li><a asp-area="" asp-controller="manager" asp-action="customers" asp-route-id="@ViewBag.SemesterId">Customers</a></li>
                <li><a asp-area="" asp-controller="classes" asp-action="studyresources" asp-route-id="@ViewBag.ClassId" asp-route-name="semester-route">Orders</a></li>
                <li class="active">@ViewData["Title"]</li>
            </ol>
        </div>
        <div class="col-md-3">
            <i><h5 id="logged-in-as">Logged in as Customer #156</h5></i>
        </div>
    </div>

    <h2 class="text-center">@ViewData["Title"]</h2>
    <h4 class="text-center">Scheduled Completion: 01/21/2017 2:59 PM</h4>
    <h4 class="text-center">Status: <span class="text-success text-bold">ON-TIME</span></h4>
    <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100" style="width: 47%">
            <span>47% Complete</span>
        </div>
    </div>
            
    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="text-center">DNase Footprinting Assay</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span>100%</span>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked disabled> Low Base Running Test - <span class="text-success text-bold">Complete</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked disabled> Solute Check Test - <span class="text-success text-bold">Complete</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked disabled> Fire Resistance Test - <span class="text-success text-bold">Complete</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Bicinchoninic Acid Assay</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100" style="width: 44%">
                            <span>44%</span>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked disabled> Hunnington Test - <span class="text-success text-bold">Complete</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked disabled> 4th to 50 Test - <span class="text-warning text-bold">In Progress</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked disabled> Melting Point Test - <span class="text-warning text-bold">In Progress</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Nuclear Run-On Assay</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
                            <span>15% Complete</span>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked disabled> Fragmented Flagelan Test - <span class="text-warning text-bold">In Progress</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked disabled> Crick-Tighting Test - <span class="text-warning text-bold">In Progress</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked disabled> Glycology Test - <span class="text-warning text-bold">In Progress</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked disabled> Photon Destruction Test - <span class="text-warning text-bold">In Progress</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="myModal" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Order Confirmation</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Compound Name: Listeraninanine</h3>
                    </div>
                    <div class="col-md-6">
                        <h3>Due Date: 01/21/2017 2:59 PM</h3>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-12 text-center">
                        <h3>Assays to be Performed:</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4>DNase Footprinting Assay</h4>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked disabled> Low Base Running Test
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked disabled> Solute Check Test
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked disabled> Fire Resistance Test
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <i>M-O Under Test<sup>*</sup></i>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4>Bicinchoninic Acid Assay</h4>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked disabled> Hunnington Test
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked disabled> 4th to 50 Test
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <i>Melting Point Test<sup>*</sup></i>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4>Nuclear Run-On Assay</h4>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked disabled> Fragmented Flagelan Test
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked disabled> Crick-Tighting Test
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <i>Glycology Test<sup>*</sup></i>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <i>Photon Destruction Test<sup>*</sup></i>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <i>Lead Injection Test<sup>*</sup></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:50px;">
                    <div class="col-md-12">
                        <p class="text-center sub-text"><i><sup>*</sup>Conditional test are performed based on specific triggers in required tests; checking boxes next to conditional test indicates that you would like conditional tests performed whether or not the triggers in the required test are fired.</i></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Edit Order</button>
                <button type="button" class="btn btn-primary">Confirm Order</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
