@{
    ViewData["Title"] = "Manager Reports";
}

<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>

    <a asp-controller="manager" asp-action="generatesalesreport">Generate Sales Report</a> <br>
    <a asp-controller="manager" asp-action="generateclientreport">Generate Client Report</a> <br>
</div>
